*.pyc
*.xlsx
*.ini
*.nc
*.nc4
*.xml
*.iml
*.orig
*.sublime-project
*.sublime-workspace
*.p

*.egg-info/
/htw_2015/

dumps/**/*
Plots/**/*
Evaluation/**/*
csv_for_plots/**/*
validation/

/untitled0.py
/ergebnis.csv
/filenames.txt
/table.tex
/table_2.tex
/untitled1.py
/helper_files/wf_coordinates.csv
