*.pyc
*.xlsx
*.ini
*.nc
*.nc4
*.xml
*.iml
*.orig
*.sublime-project
*.sublime-workspace

*.egg-info/
/htw_2015/

data/ArgeNetz/**/*
data/Enertrag/**/*
data/GreenWind/**/*
data/Daten_Twele/**/*
data/Merra/**/*
data/open_FRED/**/*
data/Renewables_ninja_capacity_factors/**/*

dumps/validation_data/**/*
dumps/validation_objects/**/*
dumps/weather/**/*
dumps/wind_farm_data/**/*
dumps/time_series_dfs/**/*

Plots/2015/MERRA/density_correction/time_period/6_22/**/*
Plots/2015/MERRA/density_correction/time_period/None/**/*
Plots/2015/MERRA/simple/time_period/6_22/**/*
Plots/2015/MERRA/simple/time_period/None/**/*
Plots/2015/MERRA/smooth_wf/time_period/6_22/**/*
Plots/2015/MERRA/smooth_wf/time_period/None/**/*
Plots/2015/open_FRED/density_correction/time_period/6_22/**/*
Plots/2015/open_FRED/density_correction/time_period/None/**/*
Plots/2015/open_FRED/simple/time_period/6_22/**/*
Plots/2015/open_FRED/simple/time_period/None/**/*
Plots/2015/open_FRED/smooth_wf/time_period/6_22/**/*
Plots/2015/open_FRED/smooth_wf/time_period/None/**/*
Plots/2016/MERRA/density_correction/time_period/6_22/**/*
Plots/2016/MERRA/density_correction/time_period/None/**/*
Plots/2016/MERRA/simple/time_period/6_22/**/*
Plots/2016/MERRA/simple/time_period/None/**/*
Plots/2016/MERRA/smooth_wf/time_period/6_22/**/*
Plots/2016/MERRA/smooth_wf/time_period/None/**/*
Plots/2016/open_FRED/density_correction/time_period/6_22/**/*
Plots/2016/open_FRED/density_correction/time_period/None/**/*
Plots/2016/open_FRED/simple/time_period/6_22/**/*
Plots/2016/open_FRED/simple/time_period/None/**/*
Plots/2016/open_FRED/smooth_wf/time_period/6_22/**/*
Plots/2016/open_FRED/smooth_wf/time_period/None/**/*

/untitled0.py
/ergebnis.csv
/filenames.txt
/table.tex
/table_2.tex
/untitled1.py
/helper_files/wf_coordinates.csv
